@use "../base/mixins" as *;

.header {
  background-color: #191919;
  position: relative;

  &-container {
    padding: 3.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(tablet) {
      justify-content: flex-start;
    }

    @include mq(laptop) {
      padding: 3.2rem 0 3.7rem 0;
    }
  }

  &-cart {
    @include mq(tablet) {
      margin-left: auto;
    }
  }

  &-nav {
    display: none;

    @include mq(laptop) {
      display: block;
      margin-left: 15rem;

      @include mq(desktop) {
        margin-left: 19.7rem;
      }

      &-list {
        display: flex;
        gap: 3.4rem;
        font-size: 1.3rem;
        line-height: 2.5rem;
        letter-spacing: 2px;
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}
