@use "./mixins" as *;

:root {
  font-size: 10px;
}

.container {
  width: min(100% - 4.8rem, 111rem);
  margin-inline: auto;

  @include mq(tablet) {
    width: min(100% - 8rem, 111rem);
  }
}

.container-img {
  width: min(100% - 0rem, 111rem);
  margin-inline: auto;
}
